<div data-attr-1="blablah" test-id="some-id">
    <div data-attr-xy="haha" data-flag-a11y></div>
    <div data-fti-xz-attr="haha" data-fti-xz-flag></div>
    <div data-some-attr="yes" data-fti-ab-attr="123"></div>
    <div data-value="1" data-qa="some-test-id"></div>
    <div>
        <label for="test-id"></label>
        <input class="some-attr-before" id="test-id" name="some input">
    </div>
    <iframe
        src="https://otto.de"
        id="wrapped-placed-id">
    </iframe>
    <div class="some-container">
        <canvas id="miro-clone" width="300" height="300"></canvas>
        <canvas aria-description="miro" id="miro-real"></canvas>
    </div>
</div>